<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'styles.css' %}" />
	{% include 'navbar.html' %}
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
	<div id="nav-placeholder">

	</div>
	<script>
		$(function(){
  			$("#nav-placeholder").load("navbar.html");});
  	</script>
	<div class="rowA">
		<div id="info">
			<div class="row-a">
					<img src="https://i.imgur.com/InhShND.png" width="130px" height="130px" class="img2">
					<h1><b>PERSONAL<br>INFORMATION</b></h1>
			</div>
		</div>
		<div id="bio">
			<p>
				Place of Birth: Jakarta<br>
				Date of Birth: January 5, 1999<br>
				Nationality: Indonesia<br>
				Address: Mutiara Depok Estate <br>
				Blok CA/3<br>
				Email: azzahraputri05@gmail.com<br>
				Phone: 0811 997 442<br>
			</p>
		</div>
	</div>

	<div class="rowB">
		<h3><i>"If it doesn't challenge you, it won't change you"</i></h3>
	</div>

	<div class="footer">
		<footer>
			<a href="#" class="fa fa-skype"></a>
			<a href="https://www.instagram.com/azzahrapr" class="fa fa-instagram" target="_blank"></a>
			<a href="https://www.twitter.com/azzhrapr" class="fa fa-twitter" target="_blank"></a>
			<a href="https://www.linkedin.com/in/azzahraptr/" class="fa fa-linkedin" target="_blank"></a>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>