<!DOCTYPE html>
<html>
<head>
	<title>Home - Welcome to Jaja's Website!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'styles.css' %}" />
	{% include 'navbar.html' %}
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
	<div id="nav-placeholder">

	</div>
	<script>
		$(function(){
  			$("#nav-placeholder").load("navbar.html");});
	</script>
	<div class="row1">
		<div id="desc">
			<h1><b>AZZAHRA PUTRI RAMADHANTY</b></h1>
			<h2>Student of Information System</h2>
			<p>Have a big interest in web designing and programming. My favorite subjects <br> 
				are PPW and SDA. I want to develope my skill in HTML5, CSS, and Java.</p>
		</div>	
		<div id="foto">
			<img src="https://i.imgur.com/CZMmwPZ.png" width="200px" height="200px">
		</div>
		<div id="hello">
			<h1>Hello!</h1>
		</div>
	</div>

	<div class="row2">
		<div id="edu">
			<img src="https://i.imgur.com/CdEurkf.png" width="80px" height="80px" class="img">
			<h3><b>EDUCATION</b></h3>
			<div class="par">
				<p>
					- University of Indonesia<br>
					- SMAN 3 Depok<br>
					- SMPN 1 Depok<br>
					- SD Pemuda Bangsa
				</p>
			</div>
		</div>
		<div id="skills">
			<img src="https://i.imgur.com/CYWipCk.png" width="80px" height="80px" class="img">
			<h3><b>SKILLS</b></h3>
			<div class="par">
				<p>
					- Public Relation <br>
					- Leadership <br>
					- Python<br>
					- Java<br>
					- HTML5<br>
					- Microsoft Word<br>
					- Microsoft PowerPoint<br>
					- Adobe Photoshop<br>
					- English<br>
					- Korean<br>
					- Piano<br>
					- Traditional Dance<br>
				</p>
			</div>
		</div>
		<div id="exp">
			<img src="https://i.imgur.com/GS6nmOx.png" width="80px" height="80px" class="img">
			<h3><b>EXPERIENCE</b></h3>
			<div class="par">
				<p>
					<b>Organizational Experience<br></b>
					- Adkesma BEM Fasilkom UI<br>
					- Binari Fasilkom UI<br>
					- Mezzo Voices SMAN 3 Depok<br>
					<br>
					<b>Working Experience<br></b>
					- HRD of Fundraising COMPEST X 2018<br>
					- Head of Public Relations Wisgen 2018<br>
					- Vice Person of Fundraising PMB 2018<br>
					- Staff of Events OH Fasilkom 2018<br>
					- Staff of Bazaar&Food CGT 2018<br>
					- Staff of Public Relations Wisgan 2018<br>
					- Staff of Sponsorship Universiade UI 2017<br>
					- Staff of Public Relations Pemira<br>
					Fasilkom 2017<br>
				</p>
			</div>
		</div>
		<div id="ach">
			<img src="https://i.imgur.com/GdoCxPd.png" width="80px" height="80px" class="img">
			<h3><b>ACHIEVEMENTS</b></h3>
			<div class="par">
				<p>
					- Fasilkom's Contingent of Traditional Dance UIAW 2018<br>
					- National Science Olympiad <br>
					Participant Regency State 2014
					- 3rd Winner of National Grand Try Out by Yayasan Taruna Bangsa 2011<br>
				</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<footer>
			<a href="#" class="fa fa-skype"></a>
			<a href="https://www.instagram.com/azzahrapr" class="fa fa-instagram" target="_blank"></a>
			<a href="https://www.twitter.com/azzhrapr" class="fa fa-twitter" target="_blank"></a>
			<a href="https://www.linkedin.com/in/azzahraptr/" class="fa fa-linkedin" target="_blank"></a>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>