<!DOCTYPE html>
<html>
<head>
	<title>Home - Welcome to Jaja's Website!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<nav class="topnav"> 
		<button type="button" onclick="alert('CV Downloaded!')">Download Resume</button>
		<a href="{% url 'Lab4:aboutme'%}">About Me</a>
		<a href="{% url 'Lab4:home'%}">Home</a>
		<a href="{% url 'Lab4:schedules'%}">Schedules</a>
	</nav>	
</body>
</html>