<!DOCTYPE html>
<html>
<head>
	<title>Enter your details!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'styles.css' %}" />
	{% include 'navbar.html' %}
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
	<div id="nav-placeholder">

	</div>
	<script>
		$(function(){
  			$("#nav-placeholder").load("navbar.html");});
	</script>
	<form action="/action_page.php">
	  <div class="container">
	    <h1>Register</h1>
	    <p>Please fill in this form to create an account.</p>
	    
	    <hr>

	    <label for="name"><b>Name</b></label>
	    <input type="text" placeholder="Enter Name" name="name" required><br>

	    <label for="birth"><b>Birth Date</b></label>
	    <input type="date" placeholder="Enter Birth Date" name="birth" required><br>
	    <!-- Safari doens't support input date type:( Open with chrome -->

	    <label for="email"><b>Email</b></label>
	    <input type="email" placeholder="Enter Email" name="email" required><br>

	    <label for="uname"><b>Username</b></label>
	    <input type="text" placeholder="Enter Username" name="uname" required><br>

	    <label for="psw"><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="psw" required><br>

	    <label for="psw-repeat"><b>Confirm Password</b></label>
	    <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>

	    <hr>
	    
	    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

	    <button type="submit" class="registerbtn" value="submit">Register</button>
	  </div>
	</form>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>