{% extends "base.html"%}
{% load static%}
{% block content %}
    <div id="nav-placeholder">

    </div>
  
    <div class="col">
        <div class="container">
        <h2><b>MY SCHEDULES</b></h2>
        <hr>
        <table style="width:100%">
            {% if schedules %}
                <tr>
                    <th>Activity</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Place</th>
                </tr>
           	        {% for event in schedules %}
                        <tr>
   	                        <td>{{ event.activity }}</td>
                            <td>{{ event.category }}</td>
                            <td>{{ event.date }}</td> 
                            <td>{{ event.time }}</td>
                            <td>{{ event.place }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h5>No schedule. Make a plan!</h5> 
                {% endif %}
            </table>
            <br>
            <div class="row d-flex align-items-center justify-content-center">
            <div class="col-sm-2">
            <a href="{% url 'Lab4:forms' %}">Create Event</a> 
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Lab4:delete' %}">Reset Schedule</a>
        </div>
        </div>
    </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}

