
.topnav {
    overflow: hidden;
  	background-color: white;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #C07CC7;
  color: white;
}

.topnav button {
    float: right;
    background-color: #8190A5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
}

.row1 {
  display: flex;
	background-color: #53D3D3;
}

@media only screen and (max-width: 1000px){  
    .row1, .row2{
      flex-direction: column;
    }

    .rowA, .rowB{
      flex-direction: column;
      width: 100vh;
    }
    #edu, #skills, #exp, #ach, #info, #bio {
      width: 100% !important;
    }

    #desc, #foto, #hello {
      padding: 20px !important;
      padding-top: 5px !important;
    }

    #bio{
      border-left: 0 !important;
    }

    .img2{
      margin-left: 0px !important;
    }

}

#desc, #foto, #hello {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#desc {
	width: 60%;
	padding-left: 60px;
}

#desc h2 {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}

#foto {
	padding-top: 0px;
	width: 20%;
}

#hello {
	width: 20%;
	margin-top: 30px;
	margin-right: 50px;
}

#hello h1{
	text-align: center;
	font-size: 80px;
}

.row2 {
  display: flex;
  background-color: white;
}

#edu, #skills, #exp, #ach {
  width: 25%;
  padding: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.par{
  text-align: left;
}

.rowA{
  display: flex;
  background-color: #53D3D3;
  padding: 20px;
}

.row-a{
  display: flex;
}

.row-a h1{
  text-align: right;
  font-size: 60px;
  margin-top: 60px;
  position: absolute;
  left: 14%;
}

.img2{
  position: absolute;
  left: 12%;
}

#info, #bio{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  font-size: 35px;
  padding: 20px;
}

#bio{
  padding-top: 200px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  border-left: 3px solid black;
}


.rowB{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #C07CC7;
}

.fa {
  float: right;
  padding: 5px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 8px;
  border-radius: 50%;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.container {
    padding: 16px;
    background-color: white;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #E3EEEE;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #C07CC7;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}


